@import url("https://fonts.googleapis.com/css2?family=Offside&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Offside&family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --hue-color: 340;
  --first-color: hsl(var(--hue-color), 93%, 57%);
  --first-color-alt: hsl(-webkit-calc(var(--hue-color) + 3), 69%, 51%);
  --first-color-alt: hsl(calc(var(--hue-color) + 3), 69%, 51%);
  --first-color-hover: hsl(var(--hue-color), 100%, 64%);
  --light-color: hsl(-webkit-calc(var(--hue-color) - 280), 100%, 90%);
  --light-color: hsl(calc(var(--hue-color) - 280), 100%, 90%);
  --light-color-alt: hsl(-webkit-calc(var(--hue-color) - 284), 90%, 79%);
  --light-color-alt: hsl(calc(var(--hue-color) - 284), 90%, 79%);
  --light-color-hover: hsl(-webkit-calc(var(--hue-color) - 289), 88%, 71%);
  --light-color-hover: hsl(calc(var(--hue-color) - 289), 88%, 71%);
  --dark-color: hsl(-webkit-calc(var(--hue-color) - 119), 76%, 5%);
  --dark-color: hsl(calc(var(--hue-color) - 119), 76%, 5%);
  --dark-color-alt: hsl(-webkit-calc(var(--hue-color) - 124), 100%, 6%);
  --dark-color-alt: hsl(calc(var(--hue-color) - 124), 100%, 6%);
  --dark-color-hover: hsl(-webkit-calc(var(--hue-color) - 127), 83%, 9%);
  --dark-color-hover: hsl(calc(var(--hue-color) - 127), 83%, 9%);
  --wrapper-background-color: hsla(-webkit-calc(var(--hue-color) - 119), 76%, 2%, 0.97);
  --wrapper-background-color: hsla(calc(var(--hue-color) - 119), 76%, 2%, 0.97);
  --abstraction-color-line: hsla(189, 96%, 58%, 1);
  --abstraction-color-circle-1: hsla(49, 96%, 68%, 1);
  --abstraction-color-circle-2: hsla(149, 96%, 68%, 1);
  --abstraction-color-circle-3: hsla(249, 96%, 78%, 1);
  --abstraction-color-rect-1: hsla(298.9, 100%, 78%, 1);
  --abstraction-color-rect-2: hsla(98.9, 90%, 68%, 1);
  --abstraction-color-trigon-1: hsla(165.9, 100%, 38%, 1);
  --abstraction-color-trigon-2: hsla(18.9, 100%, 78%, 1);
  --neon-box-shadow: 0px 0px 28px var(--first-color),
	inset 0px 0px 28px var(--first-color);
  --neon-box-shadow-thin: 0px 0px 18px var(--first-color),
	inset 0px 0px 18px var(--first-color);
  --header-height: 100%;
  --border-radius: 8px;
  --text-ff-title: 'Offside', cursive;
  --text-ff: 'Open Sans', sans-serif;
  --text-size-h2: 2.5rem;
  --text-size-title: 1.8rem;
  --text-size: 1.1rem;
  --text-size-small: .8rem;
  --z-tooltip: 10;
  --z-bg: -1;
}

input {
  background-color: transparent;
  color: var(--light-color);
}

body {
  font-family: var(--text-ff);
  color: var(--light-color-alt);
}

img {
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.button {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  font-size: 0;
  z-index: var(--z-tooltip);
}

.title {
  font-family: var(--text-ff-title);
  color: var(--first-color);
  font-size: var(--text-size-title);
  text-shadow: 0px 0px 5px var(--first-color);
  text-transform: uppercase;
}

.title_h2 {
  font-family: var(--text-ff-title);
  font-size: var(--text-size-title);
  text-shadow: 0px 0px 5px var(--light-color-alt);
  text-transform: uppercase;
  font-size: var(--text-size-h2);
  font-weight: bold;
  color: var(--light-color-alt);
  text-align: center;
}

.wrapper {
  background-image: url(../img/Pattern.jpg), url(../img/Pattern1.jpg);
  background-blend-mode: multiply;
  -webkit-background-size: 200px 200px;
          background-size: 200px 200px;
  height: 100%;
  width: 100%;
  z-index: var(--z-bg);
  position: fixed;
}

.wrapper__cover {
  height: 100%;
  width: 100%;
  background-color: var(--wrapper-background-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.background-abstraction {
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.abstraction {
  width: 300px;
  height: 300px;
  margin: auto;
  left: -webkit-calc(50% - 144px);
  left: calc(50% - 144px);
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  position: absolute;
}

.abstraction__svg {
  position: absolute;
}

.abstraction__logo {
  font-size: 58px;
  position: absolute;
  top: 33%;
  left: 5%;
  -webkit-transform: rotate(0.9turn);
      -ms-transform: rotate(0.9turn);
          transform: rotate(0.9turn);
  text-shadow: 0px 0px 8px var(--first-color);
  font-family: var(--text-ff-title);
  color: var(--first-color);
}

.line_1 {
  -webkit-transform: translate(116px, -50px);
      -ms-transform: translate(116px, -50px);
          transform: translate(116px, -50px);
  fill: var(--abstraction-color-line);
}

.line_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
}

.line_2 {
  -webkit-transform: translate(136px, -70px);
      -ms-transform: translate(136px, -70px);
          transform: translate(136px, -70px);
  fill: var(--abstraction-color-line);
}

.line_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
}

.line_3 {
  -webkit-transform: translate(156px, -50px);
      -ms-transform: translate(156px, -50px);
          transform: translate(156px, -50px);
  fill: var(--abstraction-color-line);
}

.line_3 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
}

.circle_1 {
  stroke: var(--abstraction-color-circle-1);
}

.circle_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-circle-1));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-circle-1));
}

.circle_2 {
  -webkit-transform: translate(156px, 180px) scale(0.3);
      -ms-transform: translate(156px, 180px) scale(0.3);
          transform: translate(156px, 180px) scale(0.3);
  stroke: var(--abstraction-color-circle-2);
}

.circle_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-2));
          filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-2));
}

.circle_3 {
  -webkit-transform: translate(-46px, 155px) scale(0.2);
      -ms-transform: translate(-46px, 155px) scale(0.2);
          transform: translate(-46px, 155px) scale(0.2);
  stroke: var(--abstraction-color-circle-3);
}

.circle_3 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-3));
          filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-3));
}

.rect_1 {
  -webkit-transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
      -ms-transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
          transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
  stroke: var(--abstraction-color-rect-1);
}

.rect_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-1));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-1));
}

.rect_2 {
  -webkit-transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
      -ms-transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
          transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
  stroke: var(--abstraction-color-rect-2);
}

.rect_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-2));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-2));
}

.trigon_1 {
  -webkit-transform: translate(-6px, -45px) rotate(0.05turn) scale(1.5);
      -ms-transform: translate(-6px, -45px) rotate(0.05turn) scale(1.5);
          transform: translate(-6px, -45px) rotate(0.05turn) scale(1.5);
  stroke: var(--abstraction-color-trigon-1);
}

.trigon_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-1));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-1));
}

.trigon_2 {
  -webkit-transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
      -ms-transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
          transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
  stroke: var(--abstraction-color-trigon-2);
}

.trigon_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-2));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-2));
}

.header {
  width: 100%;
  height: var(--header-height);
  padding: 2rem;
}

.nav__menu {
  opacity: 0;
  width: -webkit-calc(100% - 4rem);
  width: calc(100% - 4rem);
  height: 80%;
  border: 4px solid var(--first-color);
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
  -webkit-box-shadow: var(--neon-box-shadow);
          box-shadow: var(--neon-box-shadow);
  padding: 1rem;
  position: fixed;
  right: 2rem;
  -webkit-transform: translate(600px);
      -ms-transform: translate(600px);
          transform: translate(600px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.nav__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.nav__item {
  margin: 0 auto;
}

.nav__link {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn_theme {
  margin: 0 auto;
  display: block;
}

.nav__btn_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav__btn_menu {
  position: fixed;
  top: -webkit-calc(3rem + 4px);
  top: calc(3rem + 4px);
  right: -webkit-calc(3rem + 4px);
  right: calc(3rem + 4px);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate(600px);
      -ms-transform: translate(600px);
          transform: translate(600px);
}

.nav__input {
  color: white;
  background-color: white;
  border: none;
  border-color: white;
}

.nav__input::-webkit-slider-thumb {
  color: white;
  background-color: #fff;
}

.show-menu-btn {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
}

.show-menu {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
  opacity: 1;
}

.img-svg {
  -webkit-filter: drop-shadow(0px 0px 5px var(--first-color));
          filter: drop-shadow(0px 0px 5px var(--first-color));
  margin: auto;
}

.move {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.move-hidden {
  opacity: 0;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

.home {
  height: 100vh;
}

.home__button {
  position: absolute;
  bottom: 13%;
  left: 7%;
}

.home__button_text {
  font-weight: bold;
}

.section-text {
  margin: 1rem 2rem;
  color: var(--light-color-alt);
}

.section-img {
  height: 400px;
  margin: 1rem 2rem;
  max-width: 300px;
  overflow: hidden;
}

.block {
  border: 2px solid var(--first-color);
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
  -webkit-box-shadow: var(--neon-box-shadow-thin);
          box-shadow: var(--neon-box-shadow-thin);
  padding: 2rem 1rem;
  margin: 3rem 2rem;
}

.swiper {
  height: 400px;
}

.about__title {
  display: inline-block;
  margin: 0 1.5rem;
  font-size: 1.5rem;
}

.about__content {
  margin: .5rem;
}

.about__text {
  color: var(--light-color-alt);
  margin-bottom: 1rem;
}

.about__slide {
  overflow: hidden;
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.about__img {
  height: 400px;
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.delivery__h2 {
  text-align: center;
}

.delivery__description {
  padding: 1rem 0rem;
}

.delivery__block {
  padding-bottom: 1.1rem;
}

.delivery__list {
  padding-left: 1rem;
}

.delivery__item {
  padding-left: 1rem;
  padding-bottom: 1rem;
  position: relative;
  color: var(--light-color-alt);
}

.delivery__item::before {
  content: '';
  background-color: var(--light-color-alt);
  height: .5rem;
  width: .5rem;
  position: absolute;
  top: 0.3rem;
  left: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.accordion {
  --accordion-time: .3s;
}

.accordion__content {
  display: none;
}

.is-open .accordion__content {
  display: block;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.faq__block {
  padding: 1rem 1rem;
  margin: 2rem;
}

.faq__block:last-child {
  margin-bottom: 4rem;
}

.faq__question {
  color: var(--light-color-alt);
  font-size: 1rem;
}

.faq__answer {
  color: var(--light-color);
}

.input-item {
  width: 100%;
}

.label-radio {
  position: relative;
  padding-left: 1.3rem;
}

.input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  position: absolute;
  top: .2rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  content: '';
  border: 1px solid var(--first-color);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.input-radio:checked + .check-box {
  -webkit-box-shadow: 0 0 8px var(--first-color), inset 0px 0px 5px var(--first-color);
          box-shadow: 0 0 8px var(--first-color), inset 0px 0px 5px var(--first-color);
}

.form__input {
  padding: 1rem;
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form__button {
  padding: 0rem;
  margin: 1rem auto;
  width: 70px;
}

.form__button-svg_path {
  fill: var(--first-color);
  -webkit-filter: drop-shadow(0px 0px 3px var(--first-color));
          filter: drop-shadow(0px 0px 3px var(--first-color));
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
