@import url("https://fonts.googleapis.com/css2?family=Offside&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Offside&family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --hue-color: 340;
  --first-color: hsl(var(--hue-color), 93%, 57%);
  --first-color-alt: hsl(-webkit-calc(var(--hue-color) + 8), 99%, 73%);
  --first-color-alt: hsl(calc(var(--hue-color) + 8), 99%, 73%);
  --first-color-hover: hsl(var(--hue-color), 100%, 64%);
  --light-color: hsl(-webkit-calc(var(--hue-color) - 280), 100%, 90%);
  --light-color: hsl(calc(var(--hue-color) - 280), 100%, 90%);
  --light-color-alt: hsl(-webkit-calc(var(--hue-color) - 284), 90%, 79%);
  --light-color-alt: hsl(calc(var(--hue-color) - 284), 90%, 79%);
  --light-color-hover: hsl(-webkit-calc(var(--hue-color) - 289), 88%, 71%);
  --light-color-hover: hsl(calc(var(--hue-color) - 289), 88%, 71%);
  --dark-color: hsl(-webkit-calc(var(--hue-color) - 119), 76%, 5%);
  --dark-color: hsl(calc(var(--hue-color) - 119), 76%, 5%);
  --dark-color-alt: hsl(-webkit-calc(var(--hue-color) - 124), 100%, 6%);
  --dark-color-alt: hsl(calc(var(--hue-color) - 124), 100%, 6%);
  --dark-color-hover: hsl(-webkit-calc(var(--hue-color) - 127), 83%, 9%);
  --dark-color-hover: hsl(calc(var(--hue-color) - 127), 83%, 9%);
  --wrapper-background-color: hsla(-webkit-calc(var(--hue-color) - 119), 76%, 2%, 0.97);
  --wrapper-background-color: hsla(calc(var(--hue-color) - 119), 76%, 2%, 0.97);
  --abstraction-color-line: hsla(189, 96%, 58%, 1);
  --abstraction-color-circle-1: hsla(49, 96%, 68%, 1);
  --abstraction-color-circle-2: hsla(149, 96%, 68%, 1);
  --abstraction-color-circle-3: hsla(249, 96%, 78%, 1);
  --abstraction-color-rect-1: hsla(298.9, 100%, 78%, 1);
  --abstraction-color-rect-2: hsla(98.9, 90%, 68%, 1);
  --abstraction-color-trigon-1: hsla(165.9, 100%, 38%, 1);
  --abstraction-color-trigon-2: hsla(18.9, 100%, 78%, 1);
  --neon-box-shadow: 0px 0px 28px var(--first-color),
	inset 0px 0px 28px var(--first-color);
  --neon-box-shadow-thin: 0px 0px 18px var(--first-color),
	inset 0px 0px 18px var(--first-color);
  --header-height: 100%;
  --border-radius: 8px;
  --text-ff-title: 'Offside', cursive;
  --text-ff: 'Open Sans', sans-serif;
  --text-size-h2: 2.5rem;
  --text-size-title: 1.8rem;
  --text-size: 1.1rem;
  --text-size-small: .8rem;
  --z-tooltip: 10;
  --z-bg: -1;
}

section {
  padding-top: 2rem;
}

input {
  background-color: transparent;
  color: var(--light-color);
}

body {
  font-family: var(--text-ff);
  color: var(--light-color-alt);
}

img {
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.button {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  font-size: 0;
  z-index: var(--z-tooltip);
}

.title {
  font-family: var(--text-ff-title);
  color: var(--first-color);
  font-size: var(--text-size-title);
  text-shadow: 0px 0px 5px var(--first-color);
  text-transform: uppercase;
}

.title_h2 {
  font-family: var(--text-ff-title);
  font-size: var(--text-size-title);
  text-shadow: 0px 0px 5px var(--light-color-alt);
  text-transform: uppercase;
  font-size: var(--text-size-h2);
  font-weight: bold;
  color: var(--light-color-alt);
  text-align: center;
}

.wrapper {
  background-image: url(../img/Pattern.jpg), url(../img/Pattern1.jpg);
  background-blend-mode: multiply;
  -webkit-background-size: 200px 200px;
          background-size: 200px 200px;
  height: 100%;
  width: 100%;
  z-index: var(--z-bg);
  position: fixed;
}

.wrapper__cover {
  height: 100%;
  width: 100%;
  background-color: var(--wrapper-background-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.background-abstraction {
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.abstraction {
  width: 300px;
  height: 300px;
  margin: auto;
  left: -webkit-calc(50% - 144px);
  left: calc(50% - 144px);
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  position: absolute;
}

.abstraction__svg {
  position: absolute;
}

.abstraction__logo {
  font-size: 58px;
  position: absolute;
  top: 33%;
  left: 5%;
  -webkit-transform: rotate(0.9turn);
      -ms-transform: rotate(0.9turn);
          transform: rotate(0.9turn);
  text-shadow: 0px 0px 8px var(--first-color);
  font-family: var(--text-ff-title);
  color: var(--first-color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.line_1 {
  -webkit-transform: translate(116px, -50px);
      -ms-transform: translate(116px, -50px);
          transform: translate(116px, -50px);
  fill: var(--abstraction-color-line);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.line_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
}

.line_2 {
  -webkit-transform: translate(136px, -70px);
      -ms-transform: translate(136px, -70px);
          transform: translate(136px, -70px);
  fill: var(--abstraction-color-line);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.line_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
}

.line_3 {
  -webkit-transform: translate(156px, -50px);
      -ms-transform: translate(156px, -50px);
          transform: translate(156px, -50px);
  fill: var(--abstraction-color-line);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.line_3 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
}

.circle_1 {
  stroke: var(--abstraction-color-circle-1);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.circle_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-circle-1));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-circle-1));
}

.circle_2 {
  -webkit-transform: translate(156px, 180px) scale(0.3);
      -ms-transform: translate(156px, 180px) scale(0.3);
          transform: translate(156px, 180px) scale(0.3);
  stroke: var(--abstraction-color-circle-2);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.circle_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-2));
          filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-2));
}

.circle_3 {
  -webkit-transform: translate(-66px, 185px) scale(0.2);
      -ms-transform: translate(-66px, 185px) scale(0.2);
          transform: translate(-66px, 185px) scale(0.2);
  stroke: var(--abstraction-color-circle-3);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.circle_3 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-3));
          filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-3));
}

.rect_1 {
  -webkit-transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
      -ms-transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
          transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
  stroke: var(--abstraction-color-rect-1);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.rect_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-1));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-1));
}

.rect_2 {
  -webkit-transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
      -ms-transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
          transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
  stroke: var(--abstraction-color-rect-2);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.rect_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-2));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-2));
}

.trigon_1 {
  -webkit-transform: translate(-6px, -25px) rotate(0.05turn) scale(1.5);
      -ms-transform: translate(-6px, -25px) rotate(0.05turn) scale(1.5);
          transform: translate(-6px, -25px) rotate(0.05turn) scale(1.5);
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  stroke: var(--abstraction-color-trigon-1);
}

.trigon_1 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-1));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-1));
}

.trigon_2 {
  -webkit-transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
      -ms-transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
          transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
  stroke: var(--abstraction-color-trigon-2);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.trigon_2 .abstraction__path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-2));
          filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-2));
}

.animation-2 .abstraction__logo {
  -webkit-transform: translate(-10px, 80px) rotate(-45deg);
      -ms-transform: translate(-10px, 80px) rotate(-45deg);
          transform: translate(-10px, 80px) rotate(-45deg);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .line_1 {
  -webkit-transform: translate(5px, -50px) rotate(45deg) scale(0.4);
      -ms-transform: translate(5px, -50px) rotate(45deg) scale(0.4);
          transform: translate(5px, -50px) rotate(45deg) scale(0.4);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .line_2 {
  -webkit-transform: translate(155px, -155px) rotate(45deg) scale(0.7);
      -ms-transform: translate(155px, -155px) rotate(45deg) scale(0.7);
          transform: translate(155px, -155px) rotate(45deg) scale(0.7);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .line_3 {
  -webkit-transform: translate(15px, 20px) rotate(45deg) scale(0.6);
      -ms-transform: translate(15px, 20px) rotate(45deg) scale(0.6);
          transform: translate(15px, 20px) rotate(45deg) scale(0.6);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .circle_1 {
  -webkit-transform: translate(-10px, 5px) scale(0.8);
      -ms-transform: translate(-10px, 5px) scale(0.8);
          transform: translate(-10px, 5px) scale(0.8);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .circle_2 {
  -webkit-transform: translate(186px, -20px) scale(0.4);
      -ms-transform: translate(186px, -20px) scale(0.4);
          transform: translate(186px, -20px) scale(0.4);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .circle_3 {
  -webkit-transform: translate(-46px, 55px) scale(0.25);
      -ms-transform: translate(-46px, 55px) scale(0.25);
          transform: translate(-46px, 55px) scale(0.25);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .rect_1 {
  -webkit-transform: translate(-56px, -75px) rotate(0.33turn) scale(0.5);
      -ms-transform: translate(-56px, -75px) rotate(0.33turn) scale(0.5);
          transform: translate(-56px, -75px) rotate(0.33turn) scale(0.5);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .rect_2 {
  -webkit-transform: translate(56px, -125px) rotate(0.1turn) scale(0.3);
      -ms-transform: translate(56px, -125px) rotate(0.1turn) scale(0.3);
          transform: translate(56px, -125px) rotate(0.1turn) scale(0.3);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .trigon_1 {
  -webkit-transform: translate(200px, 175px) rotate(0.85turn) scale(1.4);
      -ms-transform: translate(200px, 175px) rotate(0.85turn) scale(1.4);
          transform: translate(200px, 175px) rotate(0.85turn) scale(1.4);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-2 .trigon_2 {
  -webkit-transform: translate(115px, 215px) rotate(0.97turn) scale(0.6);
      -ms-transform: translate(115px, 215px) rotate(0.97turn) scale(0.6);
          transform: translate(115px, 215px) rotate(0.97turn) scale(0.6);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .abstraction__logo {
  -webkit-transform: translate(0px, 20px) rotate(15deg);
      -ms-transform: translate(0px, 20px) rotate(15deg);
          transform: translate(0px, 20px) rotate(15deg);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .line_1 {
  -webkit-transform: translate(236px, 80px) rotate(135deg) scale(0.4);
      -ms-transform: translate(236px, 80px) rotate(135deg) scale(0.4);
          transform: translate(236px, 80px) rotate(135deg) scale(0.4);
}

.animation-3 .line_2 {
  -webkit-transform: translate(130px, -185px) rotate(10deg) scale(0.5);
      -ms-transform: translate(130px, -185px) rotate(10deg) scale(0.5);
          transform: translate(130px, -185px) rotate(10deg) scale(0.5);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .line_3 {
  -webkit-transform: translate(50px, 60px) rotate(45deg) scale(0.5);
      -ms-transform: translate(50px, 60px) rotate(45deg) scale(0.5);
          transform: translate(50px, 60px) rotate(45deg) scale(0.5);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .circle_1 {
  -webkit-transform: translate(10px, 20px) scale(1.1);
      -ms-transform: translate(10px, 20px) scale(1.1);
          transform: translate(10px, 20px) scale(1.1);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .circle_2 {
  -webkit-transform: translate(170px, 285px) rotate(25deg) scale(0.4);
      -ms-transform: translate(170px, 285px) rotate(25deg) scale(0.4);
          transform: translate(170px, 285px) rotate(25deg) scale(0.4);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .circle_3 {
  -webkit-transform: translate(246px, -15px) scale(0.15);
      -ms-transform: translate(246px, -15px) scale(0.15);
          transform: translate(246px, -15px) scale(0.15);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .rect_1 {
  -webkit-transform: translate(-96px, 115px) rotate(0.1turn) scale(0.7);
      -ms-transform: translate(-96px, 115px) rotate(0.1turn) scale(0.7);
          transform: translate(-96px, 115px) rotate(0.1turn) scale(0.7);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .rect_2 {
  -webkit-transform: translate(-66px, -85px) rotate(0.1turn) scale(0.3);
      -ms-transform: translate(-66px, -85px) rotate(0.1turn) scale(0.3);
          transform: translate(-66px, -85px) rotate(0.1turn) scale(0.3);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.animation-3 .trigon_1 {
  -webkit-transform: translate(176px, 25px) rotate(0.15turn) scale(1.4);
      -ms-transform: translate(176px, 25px) rotate(0.15turn) scale(1.4);
          transform: translate(176px, 25px) rotate(0.15turn) scale(1.4);
  -webkit-transition: ease-in-out .4s;
  -o-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

.animation-3 .trigon_2 {
  -webkit-transform: translate(95px, 215px) rotate(0.29turn) scale(0.5);
      -ms-transform: translate(95px, 215px) rotate(0.29turn) scale(0.5);
          transform: translate(95px, 215px) rotate(0.29turn) scale(0.5);
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.header {
  width: 100%;
  height: var(--header-height);
  padding: 2rem;
}

.nav__menu {
  opacity: 0;
  width: -webkit-calc(100% - 4rem);
  width: calc(100% - 4rem);
  height: 80%;
  border: 4px solid var(--first-color);
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
  -webkit-box-shadow: var(--neon-box-shadow);
          box-shadow: var(--neon-box-shadow);
  padding: 1rem;
  position: fixed;
  right: 2rem;
  -webkit-transform: translate(600px);
      -ms-transform: translate(600px);
          transform: translate(600px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.nav__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.nav__item {
  margin: 0 auto;
}

.nav__link {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__link::before {
  content: "";
  height: 1.5em;
  width: 10rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 5rem);
  left: calc(50% - 5rem);
  top: -.1em;
}

.nav__link:focus-visible {
  outline: none;
}

.nav__link:focus-visible::before {
  outline: 1px solid var(--first-color-alt);
}

.nav__btn_theme {
  margin: 0 auto;
  display: block;
}

.nav__btn_theme::before {
  left: -webkit-calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  top: -.42rem;
  height: 2.7rem;
  width: 3rem;
}

.nav__btn_theme:focus-visible::before {
  outline: 1px solid var(--first-color-alt);
}

.nav__btn_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav__btn_close::before {
  content: "";
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  top: -webkit-calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
}

.nav__btn_close:focus-visible {
  outline: none;
}

.nav__btn_close:focus-visible::before {
  outline: 1px solid var(--first-color-alt);
}

.nav__btn_menu {
  position: fixed;
  top: -webkit-calc(3rem + 4px);
  top: calc(3rem + 4px);
  right: -webkit-calc(3rem + 4px);
  right: calc(3rem + 4px);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate(600px);
      -ms-transform: translate(600px);
          transform: translate(600px);
}

.nav__btn_menu::before {
  content: "";
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  top: -webkit-calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
}

.nav__btn_menu:focus-visible {
  outline: none;
}

.nav__btn_menu:focus-visible::before {
  outline: 1px solid var(--first-color-alt);
}

.nav__input {
  color: white;
  background-color: white;
  border: none;
  border-color: white;
}

.nav__input::-webkit-slider-thumb {
  color: white;
  background-color: #fff;
}

.show-menu-btn {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
}

.show-menu {
  -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
          transform: translate(0%);
  opacity: 1;
}

.img-svg {
  -webkit-filter: drop-shadow(0px 0px 5px var(--first-color));
          filter: drop-shadow(0px 0px 5px var(--first-color));
  margin: auto;
}

.move {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.move-hidden {
  opacity: 0;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
}

.home {
  height: 100vh;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
}

.home__button {
  position: absolute;
  bottom: 3%;
  left: 7%;
}

.home__button_text {
  font-weight: bold;
}

.section-text {
  margin: 1rem 2rem;
  color: var(--light-color-alt);
}

.section-img {
  height: 400px;
  margin: 1rem 2rem;
  overflow: hidden;
}

.block {
  border: 2px solid var(--first-color);
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
  -webkit-box-shadow: var(--neon-box-shadow-thin);
          box-shadow: var(--neon-box-shadow-thin);
  padding: 2rem 1rem;
  margin: 3rem 2rem;
}

.swiper {
  height: 470px;
  padding-bottom: 70px;
}

.swiper-button-next, .swiper-button-prev {
  top: -webkit-calc(100% - 35px);
  top: calc(100% - 35px);
  color: var(--first-color);
  -webkit-filter: drop-shadow(0px 0px 3px var(--first-color));
          filter: drop-shadow(0px 0px 3px var(--first-color));
}

.swiper-button-next::before, .swiper-button-prev::before {
  content: "";
  height: 3rem;
  width: 2.7rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 1.35rem);
  left: calc(50% - 1.35rem);
  top: -webkit-calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
}

.swiper-button-next:focus-visible, .swiper-button-prev:focus-visible {
  outline: none;
}

.swiper-button-next:focus-visible::before, .swiper-button-prev:focus-visible::before {
  outline: 1px solid var(--first-color-alt);
}

.about__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.about__img {
  overflow: hidden;
}

.about__img:first-child {
  margin-right: 1rem;
}

.about__block {
  padding-bottom: 0;
}

.about__title {
  display: inline-block;
  margin: 0 1.5rem;
  font-size: 1.5rem;
}

.about__content {
  margin: .5rem;
}

.about__text {
  color: var(--light-color-alt);
  margin-bottom: 1rem;
}

.about__slide {
  overflow: hidden;
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.about__img {
  height: 400px;
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.delivery__h2 {
  text-align: center;
}

.delivery__description {
  padding: 1rem 0rem;
}

.delivery__block {
  padding-bottom: 1.1rem;
}

.delivery__list {
  padding-left: 1rem;
}

.delivery__item {
  padding-left: 1rem;
  padding-bottom: 1rem;
  position: relative;
  color: var(--light-color-alt);
}

.delivery__item::before {
  content: '';
  background-color: var(--light-color-alt);
  height: .5rem;
  width: .5rem;
  position: absolute;
  top: 0.3rem;
  left: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.accordion {
  --accordion-time: .3s;
}

.accordion__content {
  display: none;
}

.is-open .accordion__content {
  display: block;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.is-open .faq__arrow {
  -webkit-transform: rotate(0deg) translate(-0.33rem);
      -ms-transform: rotate(0deg) translate(-0.33rem);
          transform: rotate(0deg) translate(-0.33rem);
}

.faq__block {
  padding: 1rem 1rem;
  margin: 2rem;
}

.faq__block:last-child {
  margin-bottom: 4rem;
}

.faq__question {
  color: var(--light-color-alt);
  font-size: 1rem;
  text-align: left;
  -webkit-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
}

.faq__question:focus-visible {
  outline: 1px solid var(--first-color-alt);
}

.faq__arrow {
  padding-top: 0.125rem;
  -webkit-transform: rotate(-90deg) translate(-1.5rem, -0.2rem);
      -ms-transform: rotate(-90deg) translate(-1.5rem, -0.2rem);
          transform: rotate(-90deg) translate(-1.5rem, -0.2rem);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  height: 22px;
  float: left;
  width: 22px;
}

.faq__arrow_path {
  -webkit-filter: drop-shadow(0px 0px 3px var(--first-color));
          filter: drop-shadow(0px 0px 3px var(--first-color));
}

.faq__answer {
  color: var(--light-color);
}

.input-item {
  width: 100%;
}

.input-item:focus-visible {
  outline: 1px solid var(--first-color-alt);
}

.label-radio {
  position: relative;
  padding-left: 1.3rem;
}

.input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  position: absolute;
  top: .2rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  content: '';
  border: 1px solid var(--first-color);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.input-radio:checked + .check-box {
  -webkit-box-shadow: 0 0 8px var(--first-color), inset 0px 0px 5px var(--first-color);
          box-shadow: 0 0 8px var(--first-color), inset 0px 0px 5px var(--first-color);
}

.form__input {
  padding: 1rem;
  margin: 1rem 2rem;
}

.form__input_radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form__input_text {
  margin-top: 1rem;
  font-size: var(--text-size-small);
}

.form__input_message {
  background-color: transparent;
  color: var(--light-color);
  min-width: -webkit-calc(100% - 4rem);
  min-width: calc(100% - 4rem);
  max-width: -webkit-calc(100% - 4rem);
  max-width: calc(100% - 4rem);
  min-height: 4rem;
  max-height: 12rem;
  margin: 0 2rem;
}

.form__input_message:focus-visible {
  outline: 1px solid var(--first-color-alt);
}

.form__input_message::-webkit-input-placeholder {
  font-size: var(--text-size-small);
}

.form__input_message:-ms-input-placeholder {
  font-size: var(--text-size-small);
}

.form__input_message::-ms-input-placeholder {
  font-size: var(--text-size-small);
}

.form__input_message::placeholder {
  font-size: var(--text-size-small);
}

.form__button {
  padding: 0rem;
  margin: 1rem auto;
  width: 70px;
}

.form__button-svg_path {
  fill: var(--first-color);
  -webkit-filter: drop-shadow(0px 0px 3px var(--first-color));
          filter: drop-shadow(0px 0px 3px var(--first-color));
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.form__button_submit {
  position: relative;
}

.form__button_submit::before {
  content: "";
  height: 2.2rem;
  width: 2.7rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 1.35rem);
  left: calc(50% - 1.35rem);
  top: -webkit-calc(50% - 1.1rem);
  top: calc(50% - 1.1rem);
}

.form__button_submit:focus-visible {
  outline: none;
}

.form__button_submit:focus-visible::before {
  outline: 1px solid var(--first-color-alt);
}

.scrollup {
  color: var(--first-color);
  display: block;
  background-image: url(../img/icons/up-btn-1.svg);
  position: fixed;
  right: 5%;
  bottom: -50%;
  width: 3.75rem;
  height: 3.75rem;
  z-index: var(--z-tooltip);
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.show-scroll {
  bottom: 5%;
}

@media (min-width: 576px) {
  .form__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .form__list {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .form__input {
    margin-right: 0;
  }
  .form__input_message {
    margin: 1rem 2rem;
    resize: none;
    width: 100%;
    min-height: -webkit-calc(100% - 6rem);
    min-height: calc(100% - 6rem);
  }
  .form__input_message-wrapper {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}
