// Файл обнуляющих стилей
@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&family=Open+Sans:wght@400;600&display=swap');


:root{


   --header-height: 100%;
   --border-radius: 8px;

   --text-ff-title: 'Offside', cursive;
   --text-ff: 'Open Sans', sans-serif;
   --text-size-title: 2rem;

   --z-tooltip: 10;
}
body{
   --hue-color: 341;
   --first-color: hsl(var(--hue-color), 88%, 54%);
   --first-color-alt: hsl(var(--hue-color), 73%, 63%);
   --first-color-light: hsla(var(--hue-color), 53%, 89%, .2);
   --wrapper-background-color: hsla(223, 100%, 1%, 0.97);
   --block-background-color: hsl(var(--hue-color), 93%, 3%);

   --abstraction-color-line: hsla(189, 96%, 58%, 1);
   --abstraction-color-circle-1: hsla(49, 96%, 68%, 1);
   --abstraction-color-circle-2: hsla(149, 96%, 68%, 1);
   --abstraction-color-circle-3: hsla(249, 96%, 78%, 1);
   --abstraction-color-rect-1: hsla(298.9, 100%, 78%, 1);
   --abstraction-color-rect-2: hsla(98.9, 90%, 68%, 1);
   --abstraction-color-trigon-1: hsla(165.9, 100%, 38%, 1);
   --abstraction-color-trigon-2: hsla(18.9, 100%, 78%, 1);

   --neon-box-shadow: 0px 0px 103px var(--first-color-light),
   0px 0px 28px var(--first-color),
   inset 0px 0px 28px var(--first-color),
   inset 0px 0px 103px var(--first-color-light);
   --neon-box-shadow-thin: 0px 0px 53px var(--first-color-light),
   0px 0px 18px var(--first-color),
   inset 0px 0px 18px var(--first-color),
   inset 0px 0px 53px var(--first-color-light);


   font-family: var(--text-ff);
}

.button{
   background-color: transparent;
   -webkit-tap-highlight-color: transparent;
   font-size: 0;
   z-index: var(--z-tooltip);
   filter: drop-shadow(0px 0px 23px hsla(1, 0, 100%, .7));

}
.wrapper{
   background-image: url(../img/Pattern.jpg), url(../img/Pattern1.jpg);
   background-blend-mode: multiply;
   background-size: 200px 200px;
   height: 100%;
   width: 100%;
   &__cover{
      height: 100%;
      width: 100%;
      background-color: var(--wrapper-background-color);
   }
}
.container{
   max-width: 1280px;
   margin: 0 auto;
}

// ===== HEADER =====

.header {
   width: 100%;
   height: var(--header-height);
   padding: 2rem;
   position: absolute;
}
.nav{
   &__menu{
      opacity: 0;
      width: calc(100% - 4rem);
      height: 80%;
      border: 4px solid var(--first-color);
      border-radius: var(--border-radius);
      box-shadow: var(--neon-box-shadow);
      padding: 1rem;
      position: fixed;
      right: 2rem;
      transform: translate(600px);
      transition: .2s;
      transition-delay: .1s;
   }
   &__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
   &__item {
      margin: 0 auto;
   }
   &__link{
      font-family: var(--text-ff-title);
      color: var(--first-color);
      font-size: var(--text-size-title);
      text-shadow: 0px 0px 3px var(--first-color)  ;
      align-items: center;
      text-transform: uppercase;
      -webkit-tap-highlight-color: transparent;
      filter: drop-shadow(0px 0px 15px hsla(var(--hue-color), 53%, 89%, 0.4));
   }
   &__buttons{
      // margin: 0;
      // display: flex;
      // justify-content: space-around;
   }
   &__btn{
      &_theme{
         margin: 0 auto;
         display: block;
      }
      &_color{}
      &_close{
         position: absolute;
         top: 1rem;
         right: 1rem;
      }
      &_menu{
         position: fixed;
         top: calc(3rem + 4px);
         right: calc(3rem + 4px);
         transition: .3s;
         transform: translate(600px);
      }
   }
   &__input{
      color: white;
      background-color: white;
      border: none;
      border-color: white;
      &::-webkit-slider-thumb{
         color: white;
         background-color: #fff;
      }
   }
}
.show-menu-btn{
   transform: translate(0%);
}
.show-menu{
   transform: translate(0%);
   opacity: 1;
}
.img-svg{
   filter: drop-shadow(0px 0px 5px var(--first-color));
   margin: auto;
}
.move{
   transition: .2s;
   &-hidden{
      opacity: 0;
   }
}

// ===== HOME =====

.home{
   height: 100vh;
   &__button{
      position: fixed;
      bottom: 13%;
      left: 7%;
      &_text{
         font-size: var(--text-size-title);
         font-family: var(--text-ff-title);
         color: var(--first-color);
         text-shadow: 0px 0px 6px var(--first-color);
         // filter: drop-shadow(0px 0px 15px hsla(var(--hue-color), 53%, 89%, 0.4));
         font-weight: bold;
      }
   }
}
.background-abstraction{
   transition-duration: .1s;
   transition-delay: .1s;
}

.abstraction {
   width: 300px;
   height: 300px;
   margin: auto;
   left: calc(50% - 144px);
   top: calc(50% - 144px);
   position: absolute;

   &__svg {
      position: absolute;
      filter: drop-shadow(0px 0px 23px hsla(1, 0, 100%, .7));
   }
   &__path {
   }

   &__logo{
      color: var(--first-color);
      font-family: var(--text-ff-title);
      font-size: 58px;
      position: absolute;
      top: 33%;
      left: 5%;
      transform: rotate(0.9turn);
      text-shadow: 0px 0px 3px var(--first-color)  ;
      filter: drop-shadow(0px 0px 15px hsla(var(--hue-color), 53%, 89%, 0.4));
   
   }
}
.line {
   &_1 {
      transform: translate(116px, -50px);
      fill: var(--abstraction-color-line);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
      }
   }
   &_2 {
      transform: translate(136px, -70px);
      fill: var(--abstraction-color-line);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
      }
   }
   &_3 {
      transform: translate(156px, -50px);
      fill: var(--abstraction-color-line);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-line));
      }
   }
}
.circle {
   &_1 {
      stroke: var(--abstraction-color-circle-1);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-circle-1));
      }
   }
   &_2{
      transform: translate(156px, 180px) scale(0.3);
      stroke: var(--abstraction-color-circle-2);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-2));
      }
   }
   &_3{
      transform:  translate(-46px, 155px) scale(0.2);
      stroke: var(--abstraction-color-circle-3);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 6px var(--abstraction-color-circle-3));
      }
   }
}
.rect{
   &_1{
      transform: translate(-26px, 25px) rotate(0.1turn) scale(0.3);
      stroke: var(--abstraction-color-rect-1);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-1));
      }
   }
   &_2{
      transform: translate(26px, -55px) rotate(0.3turn) scale(0.2);
      stroke: var(--abstraction-color-rect-2);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-rect-2));
      }
   }
}
.trigon{
   &_1{
      transform: translate(-6px, -45px) rotate(.05turn) scale(1.5);
      stroke: var(--abstraction-color-trigon-1);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-1));
      }
   }
   &_2{
      transform: translate(185px, 245px) rotate(0.24turn) scale(0.4);
      stroke: var(--abstraction-color-trigon-2);
      & .abstraction__path{
         filter: drop-shadow(0px 0px 3px var(--abstraction-color-trigon-2));
      }
   }
}
